<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Length Input</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <form action="/output" method="post">
      <label for="side1">Enter length 1</label>
      <input id="side1" name="side1" type="text">

      <label for="side2">Enter length 2</label>
      <input id="side2" name="side2" type="text">

      <label for="side3">Enter length 3</label>
      <input id="side3" name="side3" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
